<header class="container-fluid">
  <div class="row align-items-md-baseline justify-content-md-between">
    <!--      Title-->
    <div class="title col-md-3">
      <h1 class="brand">KrynytskyiAgency.blog</h1>
    </div>
    <!--      Login & Register-->
    <div class="col-md-2 ">
      <a href="" class="login btn btn-default">Login</a>
      <a routerLink="/register" class="register btn btn-default" routerLinkActive="active">Register</a>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
